@import url(https://fonts.google.com/specimen/Open+Sans);
html{
    background-color: rgb(226, 226, 226);
    font-family:'Open Sans', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    border:solid 1px rgb(202, 202, 202);
    background-color: white;
    width:33%;
    margin:10% auto;
    padding:20px;
    border-radius: 5px;
}
.profile{
    width:25vh;
    height:25vh;
    border-radius: 20vh;
    align-self: center;
    margin-top:-15%;
}
.profile-name{
    text-align: center;
    margin-bottom:0;
}
.profession{
    text-align: center;
    margin:0;
    font-weight: 400;
    color: rgb(160, 148, 148);
}
body p{
    text-align: center;
    font-weight: 200;
    color:rgb(109, 106, 106);
}
body hr{
    width:100%;
    border:.3px solid rgb(245, 237, 237);
    margin:0;
    height:.01px;
}
.social-handles{
    display:flex;
    justify-content: center;
}
.social-handles img{
    width:30px;
    height:30px;
    margin:10px;
}
.buttons{
    margin-top:10px;
    justify-content: center;
    display: flex;
}
.buttons button{
    margin-left:5px;
    margin-right: 5px;
    font-size: 2.3vh;
    background-color: white;
    border: none;
    border:solid 1px rgb(202, 202, 202);
    padding:7px 15px;
    color:rgb(109, 106, 106);
}