@import url(https://fonts.google.com/specimen/Open+Sans);
html{
    font-family:'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
nav{
    display: flex;
    justify-content: space-between;
}
.left{
    display: flex;
    justify-content: space-between;
}
.right{
    display: flex;
    justify-content: space-between;
}
.right a{
  text-decoration: none;
  color: black;
}
.homepage{
    display: flex;
    justify-content: space-between;
    padding:0px 10px;
    margin:0;
}
.homepage:hover{
    background-color: rgb(233, 233, 233);
}
.homepage h3{
    margin-left:10px;
}
.profile{
    width:35px;
    height: 35px;
    margin-top:12px;
    border-radius: 30px;
}
.left-point{
    padding:20px 10px;
    margin:0;
}
.left-point:hover{
    background-color: rgb(233, 233, 233);
}
.right h3{
    margin-left:10px;
    margin-right: 10px;
}
.header-img{
    position:absolute;
    right:5px;
    width:110vh;
    top:0;
    z-index: -1;
}
.header-content{
    display: flex;
    justify-content: space-between;
}
.content{
    margin-top:20vh;
}
.content span{
    margin-bottom: -8px;
}
.header-main{
    width:100vh;
}
header{
    width:90%;
    margin:3% auto;
}

  .text_1 {
    animation: text1;
  }
  
  .text_2 {
    animation: text2;
  }

  .text_1, .text_2{
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;
    animation-duration: 13s;
    animation-timing-function: steps(15, end);
    animation-iteration-count: infinite;
    background-color: rgb(209, 207, 207);
    margin:0;
  }
  
  .text_1::after, .text_2::after{
    content: "|";
    position: absolute;
    right: 0;
    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
  }


  @keyframes text2 {
    0%, 50%, 100% {
      width: 0;
    }
    
    60%,90% {
      width: 8em;
    }
  }
  
  @keyframes text1 {
    0%, 50%, 100% {
      width: 0;
    }
    10%, 40% {
      width: 4.5em;
    }
  }
  
  @keyframes caret {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  .about{
    display: flex;
    margin:0 20vh;
    margin-top:20vh;
    justify-content: space-between;
    width:60%;

  }
  .left-about{
    width:45%;
  }
  .socio{
    margin:30px;
    margin-left:0;
    color: blue;
  }
  .socio:hover{
   transform: scale(1.1);
  }
  .skills-section{
    width:50%;
    margin-top:13vh;

  }

  .backabout{
    font-size: 11vh;
    font-weight: bolder;
    position: absolute;
    color: #ddd;
    z-index: -1;
    top:92.3vh;
    left:23vh;
  }
  .container {
    width: 100%;
    background-color: #ddd; 
  }
  
  .skills {
    text-align: left; 
    padding-top: 5px; 
    padding-bottom: 5px; 
  }
  
  .webdev {width: 80%; background-color: #515ed4;}
  .aiml {width: 5%; background-color: #515ed4;} 
  
  .tech{
    margin:0 20vh;
    margin-top:15vh;
    justify-content: space-between;
    width:80%;
  }
  .techback{
    font-size: 11vh;
    font-weight: bolder;
    position: absolute;
    color: #ddd;
    z-index: -1;
    top:150.6vh;
    left:24vh;
  }
  .logo{
    width:15vh;
    height: 13vh;
    margin:20px;
    margin-right: 25px;
  }
  .projects{
    margin:0 20vh;
    margin-top:15vh;
    justify-content: space-between;
    width:80%;
  }
  .projectback{
    font-size: 11vh;
    font-weight: bolder;
    position: absolute;
    color: #ddd;
    z-index: -2;
    top:216vh;
    left:24vh;
  }
  .project{
    display:inline-block;
    width:70vh;
    height: fit-content;
    background-color: rgb(54, 53, 51);
    margin-top:10vh;
    margin-right:10vh;
  }
  .project a{
    text-decoration: none;
    color: white;
  }
  .project_content{
    padding:10px;
  }
  .project_img{
    width: 70vh;
    height:50vh;
  }
  .connect{
    margin:0 20vh;
    margin-top:15vh;
    justify-content: space-between;
    width:70%;
  }
  .connectback{
    font-size: 11vh;
    font-weight: bolder;
    position: absolute;
    color: #ddd;
    z-index: -2;
    top:424.8vh;
    left:24vh;
  }
  .connect_img{
    width:70vh;
  }
  .contact_matter{
    margin-top:40px;
  }
  .contact_matter i{
    margin-top:40px;
    margin-right:15px;
    color:blue;
  }
  .logo-p{
    display:inline-block;
    width:6vh;
    height: 5vh;
    margin-bottom:-7px;
  }
  .project_content h1:hover, i:hover{
    color: blue;
  }