* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color:bisque;
}

.logo {
  color:purple;
  font-size: 50px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: #f9004d;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}

ul li {
  display: inline-block;
  padding: 10px 30px;
}

ul li a {
  color: rgb(180, 66, 101);
  text-decoration: none;
  font-weight: bold;
  font-size:18px;
}
ul li a:hover {
  color: #f9004d;
}
.btn {
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 30px;
  transition: transform 0.6s;
}
.btn:hover {
  transform: scale(1.5);
}
.content {
  position: absolute;
  top: 50%;
  left: 8%;
}
h1 {
  color: purple;
  margin: 20px 0 20px;
  font-size: 70px;
}
h3 {
  color: grey;
  font-size: 25px;
  margin-bottom: 50px;
}
h4 {
  color: grey;
  font-size: 20px;
  letter-spacing: 2px;
}
.newsletter form {
  width: 400px;
  max-width: 100%;
  position: relative;
}
.newsletter form input:first-child {
  width: 100%;
  display: inline-block;
  padding: 14px 130px 14px 15px;
  border: 2px solid #f9004d;
  border-radius: 30px;
}
.newsletter form input:last-child {
  position: absolute;
  display: inline-block;
  border: none;
  border-radius: 30px;
  padding: 10px 30px;
  background-color: #f9004d;
  color: white;
  top: 6px;
  right: 6px;
}
.Stn {
  position: absolute;
  top: 88%;
  left: 9%;
  display: flex;
}
.social {
  height: 30px;
  width: 30px;
  transition: transform 0.4s;
  border: 1px solid;
  border-color: black;
  border-radius: 30px;
}
.social:hover {
  transform: scale(1.5);
}
.mine{
    height: 30%;
    width: 20%;
    position: absolute;
    top:30%;
    left:50%
}